
.place-order-button::before {
    content: "";
    position: absolute;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    width: 200%;
    height: 200%;
    top: 110%;
    left: 50%;
    background: #00ea67;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
}


div.product-code span{
    line-height: 3;
}

.invalid-input{
    color: #ff0000;
    background-color: #fff;
    border: #ff0000 solid 1px ;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(119, 51, 51, 0)
}
.invalid-input:focus{
    color: #495057;
    border: #ff0000 solid 1px ;
    box-shadow: 0 0 0 .2rem rgba(255, 127, 127, 0.53)
}
.modal-45mw{
    max-width: 45%;
}

.address-list-modal{
    max-height: 50%;
}


