.custom-input {
    margin-bottom: 10px;
  }
  
  .custom-input label {
    display: block;
    font-weight: bold;
  }
  
  .custom-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .custom-input.error input {
    border-color: red;
  }
  
  .custom-input.error p {
    color: red;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .error-text {
    color: red;
  }

  .error-input {
    background-color: #ffebee; /* Màu nền đỏ */
    border: 1px solid #d32f2f; /* Màu viền đỏ */
    color: #d32f2f; /* Màu chữ đỏ */
  }
  
  
  